.content {
  display: flex;
  height: calc(100vh-4rem);
  box-sizing: border-box;
}

.sidebar {
  flex: 0 0 20%;
  height: calc(100vh - 4rem);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
