.cronometer-box {
  background-color: $color-grey;
  width: 32rem;
  height: 25rem;
  border-radius: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
