.slider {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-box {
    width: 80%;
    height: 1rem;
    cursor: pointer;
    box-shadow: $shadow-inside;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  &-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: white;
    position: absolute;
    box-shadow: 0px 0.1rem 0.3rem 0px $color-grey;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-color {
    height: 80%;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: 100;
    border-radius: inherit;
    background: $color-red;
    background: linear-gradient(
      -1deg,
      $color-red-light 0%,
      $color-red 50%,
      $color-red-dark 100%
    );
  }

  &:hover ~ .slider-tooltip {
    opacity: 1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    box-shadow: $shadow-inside;
  }

  &-tooltip {
    position: absolute;
    top: 2.6rem;
    height: 2.5rem;
    width: 3rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: $shadow-outside;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
