*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-grey;
  font-family: $font-primary;
  margin: 2rem 2rem 2rem 0rem;
  height: 100%;
}
