.timer-txt {
  text-align: center;
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 2rem;
}

.logo-red {
  width: 192px;
  height: 108px;
  text-align: center;
  justify-content: center;
}

.volume {
  margin-bottom: 50px;
}

.total-time {
  font-weight: 500;
  font-size: 1.4rem;
}
